.filter-row vaadin-select{
    width: 60px;
}
.filter-row{
    margin-right: 2rem;
    align-items: center;
}
.header-insured{
    margin-left: 1rem;
}
.iban-form__text-field vaadin-text-field{
    width: 80px;
}

